<h3>BMSzC Verebély László Technikum (képzőintézmény)</h3>
<address>
    <strong>OM</strong> 203058<br />
    <strong>Cím:</strong> 1139 Budapest, Üteg u. 13-15.<br />
    <strong><abbr title="Phone">Tel:</abbr> </strong>
    06-1 340-8132
</address>

<h3>Juhász Zoltán (oktató)</h3>
<address>
    <strong>GitHub:</strong> <a href="https://github.com/JuhaszZoltan">https://github.com/JuhaszZoltan</a><br />
    <strong>Discord:</strong> <a href="https://discord.gg/8KVWGgY6fm">https://discord.gg/8KVWGgY6fm</a><br />
    <strong>FB group:</strong> <a href="https://www.facebook.com/groups/BMSZCVLJuhaszZ">https://www.facebook.com/groups/BMSZCVLJuhaszZ</a><br />
    <strong><abbr title="Email">E-mail:</abbr> </strong>
    <a href="mailto:juhaszz@verebelyszki.hu">juhaszz@verebelyszki.hu</a>
</address>