<h2>Felhasználható dokumentációk/források:</h2>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>leírás</th>
            <th>link</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong>.NET documentation</strong></td>
            <td><a href="https://docs.microsoft.com/en-us/dotnet/" target="_blank">https://docs.microsoft.com/en-us/dotnet/</a></td>
        </tr>
        <tr>
            <td><strong>C# könyv</strong></td>
            <td><a href="https://csharptutorial.hu/konyv/" target="_blank">https://csharptutorial.hu/konyv/</a></td>
        </tr>
        <tr>
            <td><strong>MDN Web Docs</strong></td>
            <td><a href="https://developer.mozilla.org/en-US/" target="_blank">https://developer.mozilla.org/en-US/</a></td>
        </tr>
        <tr>
            <td><strong>W3Schools</strong></td>
            <td><a href="https://www.w3schools.com/" target="_blank">https://www.w3schools.com/</a></td>
        </tr>
        <tr class="table-info">
            <td><strong>tanfolyam jegyzet</strong></td>
            <td>
                @Html.ActionLink("~/Home/Jegyzet", "Jegyzet", "Home", null, new { target = "_blank" })
            </td>
        </tr>
        <tr>
            <td><strong>Transact-SQL Reference</strong></td>
            <td><a href="https://docs.microsoft.com/en-us/sql/t-sql/" target="_blank">https://docs.microsoft.com/en-us/sql/t-sql/</a></td>
        </tr>
        <tr>
            <td><strong>Bootstrap 5 Docs</strong></td>
            <td><a href="https://getbootstrap.com/docs/5.1/" target="_blank">https://getbootstrap.com/docs/5.1/</a></td>
        </tr>
        <tr>
            <td><strong>ASP.NET documentation</strong></td>
            <td><a href="https://docs.microsoft.com/en-us/aspnet/" target="_blank">https://docs.microsoft.com/en-us/aspnet/</a></td>
        </tr>
</table>
