<h2>Jegyzet</h2>

<p>
    Work in progress....

    @*table of contents*@

    <div class="row">
        <div class="col-6-md">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action list-group-item-verebely">Setup</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-verebely">érintett technológiák címszavakban</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-verebely">mvc</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-verebely">routing</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-verebely">data -> view</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-verebely">entity framework</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-verebely">code first migrations</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-verebely">HTML forms</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-verebely">validation</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-verebely">placeholder</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-verebely">placeholder</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-verebely">placeholder</a>
            </div>
        </div>
    </div>
</p>

